.linkToHome {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    .titlePage {
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      text-align: right;
      text-transform: uppercase;
    }
  }